body {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    background-color: antiquewhite;
    align-items: center;
}

header img {
    height: 50px;
}

.logo {
    height: 70px;
}



