body{
    background-color: black;
}

#titulo{
    margin-top: 278px;
    margin-left: 357px;
    max-width: 615px;
    max-height: 482px;
    color: white;
}

p.subtitulo{
    max-width: 593px;
    max-height: 144px;
    font-size: 24px;
    line-height: 36px;
    color: white;
    margin-left: 357px;
}

a{
    width: 280px;
    height: 79px;
    margin-top: 12px;
    background: #22D4FD;
    gap: 10px;
    padding: 16px;
    border-radius: 16px;
    font-weight: 600;
    margin-left: 362px;
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

img{
    margin-top: 235px;
    margin-left: 130px;
    gap: 10px;
    border-radius: 16px;
}
